version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: registra_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always
    networks:
      - coolify

  redis:
    image: redis:7-alpine
    container_name: registra_redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - coolify

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: registra_backend
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - coolify
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: registra_frontend
    env_file:
      - .env
    depends_on:
      - backend
    restart: always
    networks:
      - coolify

  celery_worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: registra_worker
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - coolify

  celery_beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: registra_beat
    command: celery -A config beat -l info
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - coolify

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: registra_nginx
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - coolify
    # Coolify will handle the routing via the FQDN field in the UI
    labels:
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
    depends_on:
      - frontend
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
  certbot_etc:
  certbot_var:


networks:
  coolify:
    external: true
